!!!
%html{lang: "ja"}   
%div.chat__side
  %div.chat__header
    %h3.chat__header__group group name
    %button.chat__header__edit--btn edit
    %div.member member:
  %div.message
    %div.message__upper
      %div.message__upper__name shouya
      %div.message__upper__date 2019/11/10 10:10
    %div.message__box This is a first message
  %div.send
    %div.send__area
      %input.send__area--text{type:"text", placeholder: "  type a message"}
      %div.send__area--box
        %label.send--icon{class: "input-box__image"}
          = icon('fas fa-2x', 'image')
      %input.send__area--picfile{type: "file"}
    %button.send--btn send