.side
  .side__box
    .side__box__name 
       = current_user.name
    .icon
    = link_to "#" do
      %i.far.fa-edit.icon
      = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
  .group
    .group__area
      %p.group__area__title test
      %p.group__area__comment まだメッセージはありません
    .group__area
      %p.group__area__title test2
      %p.group__area__comment まだメッセージはありません


  -# = link_to "#" do
    -#   %i.fas.fa-cog.icon  書き換えた
